<Project>
  <!-- Copy this file to GamePaths.props and set GameDir to your Endless Space 2 install. -->
  <PropertyGroup>
    <GameDir>C:\Program Files (x86)\Steam\steamapps\common\Endless Space 2</GameDir>
    <Managed>$(GameDir)\EndlessSpace2_Data\Managed</Managed>
    <BepInExCore>$(GameDir)\BepInEx\core</BepInExCore>
  </PropertyGroup>
</Project>
